/* specification */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: black;
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

p, div, a, span {
    line-height: 1.2em;
}

.title {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

.title__main{
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}


/*header*/

.header {
    background: #fcdb00;
    color: #010101;
    padding-top: 58px;
    padding-bottom: 105px;
}

.menu {
    margin-top: 8px;
}

.menu__item {
    margin: 0 57px;
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.offer {
    margin-top: 117px;
}

.offer__title {
    font-size: 32px;
    margin-bottom: 15px;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
}

.offer__text {
    font-size: 16px;
    margin-top: 15px;
    color: black;
    width: 400px;
}

.icons__item {
    margin-right: 30px;
}

.icons__item a {
    color: black;
    font-size: 42px;
}

.icons__item a:hover {
    text-decoration: none;
    font-size: 44px;
}

.ipad {
    display: block;
    margin: 60px auto 0;
}

/*second screen*/

.feature {
    margin-bottom: 88px;
}

.feature__title {
    font-size: 22px;
    font-weight: 400;
}

.feature__text {
    font-size: 16px;
    color: #b3b3b3;
}

.feature__icon {
    font-size: 50px;
    color: black;
    margin-right: 35px;
}

/*third screen*/

.yellow {
    color: #fcdb00;
}

.grey {
    color: #717171;
}

.touch {
    background: #010101;
}

.form {
    text-align: center;
}

.form__input {
    background: white;
    font-size: 16px;
    width: 580px;
    border-radius: 5px;
    border: 0;
    height: 50px;
    margin-right: 21px;
    padding-left: 23px;
    outline: none;
}

.form__btn {
    background: #fcdb00;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 126px;
    height: 50px;
    border: 0;
    margin-top: -25px;
}

/*footer*/

.footer {
    background: black;
    padding: 50px 0 94px;
}

.credits {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 184px;
    margin: 0 auto;
}

.form__btn:hover {
    background: #10707f;
}
/*media*/

@media screen and (max-width: 990px) {
    .logo {
        margin: 0 auto;
        display: block;
    }

    .menu {
        margin-top: 20px;
    }

    .offer {
        text-align: center;
    }

    .offer__text {
        text-align: center;
        margin: 0 auto;
    }

    .icons {
        justify-content: center;
        margin: 0 auto;
    }

    .title__text {
        width: auto;
    }

    .form__btn {
        margin-top: 10px;
    }
}

@media screen and (max-width: 660px) {
    .form__input {
        width: 420px;
    }
}

@media screen and (max-width: 439px) {
    .form__input {
        width: 320px;
    }
}

@media screen and (max-width: 390px) {
    .form__input {
        width: 280px;
    }

    .menu__item {
        margin: 0 10px;
    }

    .offer__text {
        width: 300px;
    }

    .ipad {
        width: 300px;
    }
}


